html, body{
    height: 100%;
  }
  .main .down{
    height: 55px;
  }
  .main .up{
    height: calc(100% - 55px);
  }
  .main .right{
    width: 200px;
  }
  .main .left{
    width: calc(100% - 200px);
    overflow-y: scroll;
  }
